# Porta onde a aplicação será executada
PORT=3333

# URL de conexão com o banco de dados (PostgreSQL)
DATABASE_URL="postgresql://<USUARIO>:<SENHA>@<HOST>:<PORTA>/<NOME_DO_BANCO>"

# Exemplo: postgresql://user:password@localhost:5432/enova_db

APP_USE_WEBHOOK=true
JWT_SECRET=your_jwt_secret_here
REDIS_URL=redis://localhost:6379
